@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color:#40122C;
$secondary-color:#59BAA9;
$tertiary-color:#D8F171;
$primary-font:"Montserrat", sans-serif;